header {
  width: 100%;
  height: 0.45rem;
  line-height: 0.45rem;
  background: #fff;
  position: relative; }
  header a {
    position: absolute;
    color: #000;
    font-size: 0.16rem; }
    header a:nth-child(2) {
      left: 45%; }
    header a:nth-child(1) {
      left: 0.13rem; }
    header a:nth-child(3) {
      right: 0.13rem; }

.section {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden; }
  .section .banner {
    height: 1.45rem; }
    .section .banner img {
      width: 100%;
      height: 100%; }
  .section .content {
    width: 100%; }
    .section .content dl dt {
      width: 100%;
      height: 0.45rem;
      line-height: 0.45rem;
      padding-left: 0.15rem;
      color: #4f99f2;
      font-size: 0.15rem;
      font-weight: bold;
      box-sizing: border-box; }
    .section .content dl dd {
      padding-left: 0.15rem;
      padding-right: 0.15rem; }
      .section .content dl dd p {
        margin-bottom: 0.15rem; }
      .section .content dl dd p span {
        display: block;
        font-size: 0.14rem;
        color: #333333;
        margin-bottom: 0.1rem; }
      .section .content dl dd p em {
        font-size: 0.13rem; }
    .section .content .title {
      height: 0.5rem;
      width: 100%; }
      .section .content .title img {
        width: 100%;
        height: 100%; }
    .section .content .banner_1 {
      width: 100%;
      height: 2.5rem;
      border-bottom: 1px solid #c0c0c0; }
      .section .content .banner_1 img {
        width: 100%;
        height: 100%; }
    .section .content h5 {
      font-size: 0.15rem;
      color: #4d4d4d;
      padding-left: 0.15rem;
      width: 100%;
      height: 0.43rem;
      border-bottom: 1px solid #d6e9c6; }
    .section .content .list_1 {
      display: -webkit-flex;
      height: 0.55rem;
      border-bottom: 1px solid #d6e9c6; }
      .section .content .list_1 ul {
        flex: 1;
        border-right: 1px solid #ccc;
        text-align: center; }
        .section .content .list_1 ul li {
          font-size: 0.14rem;
          margin-bottom: 0.1rem; }
        .section .content .list_1 ul .bg {
          color: #5a9ff3; }
    .section .content .list_2 {
      display: -webkit-flex;
      height: 1.15rem;
      padding-left: 0.15rem;
      padding-right: 0.1rem;
      padding-top: 0.1rem; }
      .section .content .list_2 ul {
        font-size: 0.1rem; }
        .section .content .list_2 ul:last-child {
          padding-left: 0.2rem; }
    .section .content .map {
      width: 100%; }
      .section .content .map .map_1 dt {
        float: left;
        width: 0.45rem;
        height: 0.43rem; }
        .section .content .map .map_1 dt img {
          width: 100%;
          height: 100%; }
      .section .content .map .map_1 dd {
        float: left;
        padding-left: 0.1rem; }
      .section .content .map p {
        clear: both;
        padding-left: 0.15rem;
        font-size: 0.14rem;
        padding-top: 0.15rem; }
        .section .content .map p span {
          color: #666666; }
        .section .content .map p .left {
          padding-left: 0.15rem; }
      .section .content .map .map_2 {
        width: 100%;
        height: 1.94rem;
        padding-top: 0.13rem; }
        .section .content .map .map_2 span {
          padding-left: 0.15rem; }
        .section .content .map .map_2 .images {
          padding-left: 0.15rem;
          padding-right: 0.15rem;
          padding-top: 0.1rem;
          height: 1.3rem; }
          .section .content .map .map_2 .images img {
            width: 100%;
            height: 100%; }
    .section .content .box {
      width: 100%;
      margin-top: 0.2rem; }
      .section .content .box h4 {
        text-align: center;
        font-size: 0.17rem;
        color: #4f99f2; }
      .section .content .box p {
        text-align: center;
        color: #4f99f2;
        margin-top: 0.1rem;
        font-size: 0.14rem; }
      .section .content .box .box_1 {
        width: 100%;
        height: 1.3rem;
        margin-top: 0.19rem;
        display: -webkit-flex; }
        .section .content .box .box_1 dl {
          flex: 1;
          text-align: center; }
          .section .content .box .box_1 dl dt {
            width: 0.81rem;
            height: 0.81rem;
            border: 1px solid #4f99f2;
            border-radius: 0.4rem;
            margin: 0 auto; }
            .section .content .box .box_1 dl dt img {
              width: 100%;
              height: 100%; }
          .section .content .box .box_1 dl dd {
            padding-top: 0.12rem; }
  .section .content_2 {
    width: 100%; }
    .section .content_2 .top {
      color: #4f99f2;
      text-align: center;
      font-size: 0.15rem; }
    .section .content_2 .top_1 {
      width: 100%;
      height: 0.65rem;
      display: -webkit-flex;
      align-items: center; }
      .section .content_2 .top_1 span {
        flex: 1;
        text-align: center;
        font-size: 0.15rem; }
        .section .content_2 .top_1 span:nth-child(1) {
          padding-left: 0.35rem; }
      .section .content_2 .top_1 .fa-o {
        color: #4f99f2;
        padding-right: 0.09rem; }
    .section .content_2 .banner_1 {
      width: 100%;
      height: 2.5rem;
      border-bottom: 1px solid #c0c0c0; }
      .section .content_2 .banner_1 img {
        width: 100%;
        height: 100%; }
    .section .content_2 .paragraph {
      width: 100%;
      height: 0.45rem;
      padding-top: 0.1rem;
      white-space: normal;
      padding-right: 0.3rem;
      text-align: center; }
    .section .content_2 .top_2 {
      width: 100%;
      height: 0.6rem;
      border-bottom: 1px solid #e5e5e5;
      line-height: 0.6rem;
      display: -webkit-flex; }
      .section .content_2 .top_2 li {
        flex: 1;
        text-align: center; }
      .section .content_2 .top_2 .fa-o {
        color: #4f99f2; }
    .section .content_2 .top_3 {
      width: 100%;
      height: 0.6rem;
      line-height: 0.6rem;
      border-bottom: 1px solid #e5e5e5; }
      .section .content_2 .top_3 li {
        font-size: 0.16rem;
        color: #333333; }
        .section .content_2 .top_3 li:nth-child(1) {
          float: left;
          padding-left: 0.15rem; }
        .section .content_2 .top_3 li:nth-child(2) {
          float: right;
          padding-right: 0.15rem; }
    .section .content_2 .top_4 {
      width: 100%;
      height: 1.78rem;
      padding-top: 0.06rem;
      display: -webkit-flex;
      padding-left: 0.1rem;
      padding-right: 0.1rem; }
      .section .content_2 .top_4 dl dt {
        width: 1.02rem;
        height: 1.02rem; }
        .section .content_2 .top_4 dl dt img {
          width: 100%;
          height: 100%; }
      .section .content_2 .top_4 dl dd .star {
        color: #4f99f2; }

footer {
  width: 100%;
  height: 0.53rem;
  line-height: 0.53rem;
  background-color: #eeeeee;
  text-align: center;
  color: #888888;
  font-size: 0.16rem;
  font-weight: bold; }

/*# sourceMappingURL=liquor.css.map */
